.page-header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg');
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white
}

#brushes {
    background-color: mediumspringgreen;
}

#frames {
    background-color: lightcoral;
}

#paint {
    background-color: skyblue;
}

.prices {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: blue;
}

.descriptions {
    font-family: Arial, Helvetica, sans-serif;
}

.contact-info {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: white;
    background-color: grey;
}